[submodule "python-youtubechat"]
	path = python-youtubechat
	url = https://github.com/shughes-uk/python-youtubechat.git
[submodule "TwitchPythonApi"]
	path = TwitchPythonApi
	url = https://github.com/TheWeirdlings/TwitchPythonApi.git
