mongoUrl = 'mongodb://localhost:27017/'

database = 'twitchtubebots-dev'
rabbitQueue = 'twitchtubebots-dev'

HOST = "irc.chat.twitch.tv"
NICK = "Replace with Nickname of Bot"
PORT = 6667
#Get an OAuth password from https://www.twitch.tv/settings/connections. Register at the bottom
PASS = "Replace with OAuth password"
